@{
    ViewData["Title"] = "Home Page";
}


    <body>

        <main class="publicidade">

            <div class="titulo">
                <h1>COLETA SELETIVA - IoTrash</h1>
            </div>

            <div class="imgpredio container">
                <img src="~/imagemp.png"imgpredio" width="450px" height="450px">
            </div>

            <div class="descricao container">
                <h2 class="fundobranco">O que Fazemos?</h2>
                <p class="fundopreto">Um ambiente mais limpo e saudável. </p>
                <p class="fundopreto">Ajudar grandes empresas e até municípios na gestão de resíduos.</p>
                <p class="fundopreto">Empreendedores encontram no lixo chance de negócio que não viam em matéria prima virgem. </p>
            </div>

            <div class="conteudo container">
                <p>Atualmente uma das maiores preocupações com nosso meio ambiente tem sido a gestão de resíduos sólidos (lixo), que impactam tanto a saúde quanto o meio ambiente de nossa sociedade.
                <p>O monitoramento e detecção desses resíduos é um dos principais problemas do nosso presente cotidiano. </p>
                <p>A maneira tradicional de se monitorar anualmente os resíduos de lixeiras é um processo complicado que utilizam um maior esforço humano, tempo e custos, o que poderia facilmente ser evitado com as tecnologias disponíveis atualmente. </p>
            </div>
        </main></br></br>

    </body>