@model Rota


    <div class="form-group">
        <label asp-for="DescricaoRota"></label>
        <input asp-for="DescricaoRota" class="form-control" />
        <span asp-validation-for="DescricaoRota" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiaDaSemana"></label>
        <select asp-for="DiaDaSemana" class="form-control"
                asp-items="@Html.GetEnumSelectList<DiaSemana>()">
            <option>Selecione</option>
        </select>
        <span asp-validation-for="DiaDaSemana" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Caminhao"></label>
        <select asp-for="CaminhaoId" class="form-control"
                asp-items="@ViewBag.caminhoes">
            <option value="0">Selecione</option>
        </select>
    </div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>
}