@model Caminhao


    <div class="form-group">
        <label asp-for="Placa"></label>
        <input asp-for="Placa" class="form-control" />
        <span asp-validation-for="Placa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuantidadeLixo"></label>
        <input asp-for="QuantidadeLixo" class="form-control" />
        <span asp-validation-for="QuantidadeLixo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Empresa"></label>
        <select asp-for="EmpresaId" class="form-control"
                asp-items="@ViewBag.empresas">
            <option value="0">Selecione</option>
        </select>
        
    </div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>
}