@model Lixeira

<div class="form-group">
    <label asp-for="DescricaoLixeira"></label>
    <input asp-for="DescricaoLixeira" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="VolumeLixo"></label>
    <input asp-for="VolumeLixo" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="Endereco"></label>
    <input asp-for="Endereco" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="Rota"></label>
    <select asp-for="RotaId" class="form-control"
            asp-items="@ViewBag.rotas">
        <option value="0">Selecione</option>
    </select>
</div>