@model Lixeira

@{
    ViewData["Title"] = "Atualizar";
}

<h1>Atualizar Lixeira</h1>

<mensagem texto="@TempData["mensagem"]"></mensagem>


<form asp-action="atualizar">
    <input asp-for="LixeiraId" />
    <partial name="_formulario" />
    <botao texto="Atualizar" />
    <a asp-action="Listar" class="btn btn-default">Cancelar</a>
</form>