
@{
    ViewData["Title"] = "Lixeira";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IoTrash</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <fieldset>
        <div align="center">

            <h1>Monitoramento</h1><br />


            <h2>Medidor - Lixeira</h2>
            <iframe width="85%" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/885142/widgets/110015"></iframe>
        </div><br />


        <div align="center">
            <h2>Gráfico - Lixeira</h2>
            <iframe width="85%" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/885142/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </div>


        <div align="center">
            <h2>Sinal - Lixeira</h2>
            <iframe width="85%" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/885142/widgets/111567"></iframe>
        </div>


        <div align="center">
            <h2>Sinal- Lixeira</h2>
            <iframe width="85%" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/885142/widgets/111572"></iframe>
        </div>
    </fieldset>

</body>
</html>




