
@{
    ViewData["Title"] = "Lixeira";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IoTrash</title>
</head>
<body>
    <iframe width="1100" height="280" style="border: 12px solid #cccccc;" src="https://thingspeak.com/channels/885142/widgets/110015"></iframe>
</body>
</html>


