@model Empresa


<div class="form-group">
   <label asp-for="RazaoSocial"></label>
   <input asp-for="RazaoSocial" class="form-control" />
 </div>

<div class="form-group">
    <label asp-for="CNPJ"></label>
    <input asp-for="CNPJ" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="Telefone"></label>
    <input asp-for="Telefone" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
</div>

    

