@model Empresa

@{
    ViewData["Title"] = "Atualizar";
}

<h1>Atualizar</h1>

<form asp-action="atualizar">
    <input asp-for="EmpresaId" />
    <partial name="_formulario" />
    <botao texto="Atualizar" />
    <a asp-action="Listar" class="btn btn-default">Cancelar</a>
</form>
